.login {
	-fx-background-color: linear-gradient(to right, rgb(54, 0, 51), rgb(11, 135, 147));
}

.login-titulo {
	-fx-font-size: 21px;
	-fx-text-fill: #FFF;
}

.login-form-label {
	-fx-font-size: 16px;
	-fx-text-fill: #FFF;
}

.login-form-botao {
	-fx-font-size: 16px;
}